@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

/* Fondo general del panel */
body {
    background-color: #E5FFFE;
}

/* Estructura del dashboard */
.dashboard-container {
    box-sizing: border-box;
    display: flex;
    min-height: 100vh;
}

/* Sidebar */
.sidebar {
    width: 345px;
    padding: 22px 25px;
    background-color: #ffffff;
}

/* Contenido principal */
.main-content {
    flex: 1;
    padding: 50px 20px;
}

.barra-sidebar {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.barra {
    display: flex;
    flex-direction: column;
    gap: 50px;
    height: 480px;
    justify-content: center;
}

.block-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.block-2 {
    font-family: "Montserrat", sans-serif;
    display: flex;
    height: 312px;
    flex-direction: column;
    justify-content: space-between;
}

.block-2 a {
    text-decoration: none;
}

.menu-list {
    background-color: aquamarine;
    height: 46px;
    display: flex;
    gap: 20px;
    padding: 20px 13px;
    align-items: center;
    border-radius: 10px;
    background-color: #E5FFFE;
}

.menu-list p {
    font-size: 16px;
    font-weight: 600;
    color: #00B7B1;
}

.logout {
    background-color: #2C2C2C;
    border-radius: 10px;
}

.logout a {
    height: 51px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}